/*- - - - - - - - -小山设计工作室 www.bailu123.com 设计制作 - - - - - - - -*/
html,body,span,object,iframe,h1,h2,h3,h4,h5,p,pre,
a,address,code,
del,em,img,dl,dt,dd,ol,ul,li,
fieldset,form,label,input,button,textarea,select{
margin:0;padding:0;border:0;
font-style:inherit;font-family:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,audio,video{margin:0;padding:0;display: block;}
img{border:none;vertical-align:middle;}
button{cursor:pointer;}
textarea{resize:none;}
/*去除获取焦点后的高光边框*/
input:focus,textarea:focus,button:focus{outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
/*去除IE10+文本框后面的差号*/
input::-ms-clear{display: none;}
/*去除input[type=number]文本框增减按钮*/
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none!important; margin: 0;}
/* ISO系统按钮兼容样式 */
input[type=button],input[type=submit],input[type=reset],input[type=text],input[type=file],button{-webkit-appearance:none; border-radius:0;}
html { -ms-text-size-adjust: 100%;font-size:625.000%; -webkit-text-size-adjust: 100%;margin: 0 auto;height: 100%;}
body{max-width:750px;min-width:300px;font-size:20%;overflow-x: hidden;position: relative;height: 100%;margin: 0 auto;font-family:-apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;background-color:#000000;color:#c7c7c7;}
ul,ol{list-style-type:none;}
em,address{font-style:normal;}
a{text-decoration:none;color:#4f4f4f;}

.clear{ display:block;height:0; line-height:0;overflow:hidden; clear:both;font-size:0;}/*清除浮动*/
.clear_::after{content:"";display:block; clear:both;height:0; line-height:0; overflow:hidden;}/*清除浮动*/
/*链接样式*/
a:link{}	
/*去除获得焦点默认背景色*/
a:focus{-webkit-tap-highlight-color: transparent;}
a:hover{text-decoration:none;}	/*鼠标悬停时*/
a:active{transition:color 200ms linear 0s,background-color 200ms linear 0s,border-color 200ms linear 0s;color:#f00000;outline:none;}
a:visited{}/* 访问过 */
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color: #b0b0b0; } 
input:-ms-placeholder,textarea:-ms-placeholder {color: #b0b0b0;} 
input::-moz-placeholder,textarea::-moz-placeholder {color: #b0b0b0;} 
.photo img{width: 100%;height:100%;}
@media screen and (max-width: 750px) and (min-width: 740px){html{font-size:625.000%;}}
@media screen and (max-width: 740px) and (min-width: 730px){html{font-size:616.667%;}}
@media screen and (max-width: 730px) and (min-width: 720px){html{font-size:608.333%;}}
@media screen and (max-width: 720px) and (min-width: 710px){html{font-size:600.000%;}}
@media screen and (max-width: 710px) and (min-width: 700px){html{font-size:591.667%;}}
@media screen and (max-width: 700px) and (min-width: 690px){html{font-size:583.333%;}}
@media screen and (max-width: 690px) and (min-width: 680px){html{font-size:575.000%;}}
@media screen and (max-width: 680px) and (min-width: 670px){html{font-size:566.667%;}}
@media screen and (max-width: 670px) and (min-width: 660px){html{font-size:558.333%;}}
@media screen and (max-width: 660px) and (min-width: 650px){html{font-size:550.000%;}}
@media screen and (max-width: 650px) and (min-width: 640px){html{font-size:541.667%;}}
@media screen and (max-width: 640px) and (min-width: 630px){html{font-size:533.333%;}}
@media screen and (max-width: 630px) and (min-width: 620px){html{font-size:525.000%;}}
@media screen and (max-width: 620px) and (min-width: 610px){html{font-size:516.667%;}}
@media screen and (max-width: 610px) and (min-width: 600px){html{font-size:508.333%;}}
@media screen and (max-width: 600px) and (min-width: 590px){html{font-size:500.000%;}}
@media screen and (max-width: 590px) and (min-width: 580px){html{font-size:491.667%;}}
@media screen and (max-width: 580px) and (min-width: 570px){html{font-size:483.333%;}}
@media screen and (max-width: 570px) and (min-width: 560px){html{font-size:475.000%;}}
@media screen and (max-width: 560px) and (min-width: 550px){html{font-size:466.667%;}}
@media screen and (max-width: 550px) and (min-width: 540px){html{font-size:458.333%;}}
@media screen and (max-width: 540px) and (min-width: 530px){html{font-size:450.000%;}}
@media screen and (max-width: 530px) and (min-width: 520px){html{font-size:441.667%;}}
@media screen and (max-width: 520px) and (min-width: 510px){html{font-size:433.333%;}}
@media screen and (max-width: 510px) and (min-width: 500px){html{font-size:425.000%;}}
@media screen and (max-width: 500px) and (min-width: 490px){html{font-size:416.667%;}}
@media screen and (max-width: 490px) and (min-width: 480px){html{font-size:408.333%;}}
@media screen and (max-width: 480px) and (min-width: 470px){html{font-size:400.000%;}}
@media screen and (max-width: 470px) and (min-width: 460px){html{font-size:391.667%;}}
@media screen and (max-width: 460px) and (min-width: 450px){html{font-size:383.333%;}}
@media screen and (max-width: 450px) and (min-width: 440px){html{font-size:375.000%;}}
@media screen and (max-width: 440px) and (min-width: 430px){html{font-size:366.667%;}}
@media screen and (max-width: 430px) and (min-width: 420px){html{font-size:358.333%;}}
@media screen and (max-width: 420px) and (min-width: 410px){html{font-size:350.000%;}}
@media screen and (max-width: 410px) and (min-width: 400px){html{font-size:341.667%;}}
@media screen and (max-width: 400px) and (min-width: 390px){html{font-size:333.333%;}}
@media screen and (max-width: 390px) and (min-width: 380px){html{font-size:325.000%;}}
@media screen and (max-width: 380px) and (min-width: 370px){html{font-size:316.667%;}}
@media screen and (max-width: 370px) and (min-width: 360px){html{font-size:308.333%;}}
@media screen and (max-width: 360px) and (min-width: 350px){html{font-size:300.000%;}}
@media screen and (max-width: 350px) and (min-width: 340px){html{font-size:291.667%;}}
@media screen and (max-width: 340px) and (min-width: 330px){html{font-size:283.333%;}}
@media screen and (max-width: 330px) and (min-width: 320px){html{font-size:275.000%;}}
@media screen and (max-width: 320px) and (min-width: 310px){html{font-size:266.667%;}}
@media screen and (max-width: 310px) and (min-width: 300px){html{font-size:258.333%;}}
@media screen and (max-width: 300px) {html{font-size:250.000%;}}
/*
#header .a_links a{background: linear-gradient(top , rgb(248, 7, 7) 11% , rgb(133, 3, 3) 87%);
background: -o-linear-gradient(top , rgb(248, 7, 7) 11% , rgb(133, 3, 3) 87%);
background: -ms-linear-gradient(top , rgb(248, 7, 7) 11% , rgb(133, 3, 3) 87%);
background: -moz-linear-gradient(top , rgb(248, 7, 7) 11% , rgb(133, 3, 3) 87%);
background: -webkit-linear-gradient(top , rgb(248, 7, 7) 11% , rgb(133, 3, 3) 87%);

}
*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.turn {
  -webkit-animation-name: turn;
          animation-name: turn;
		  animation-play-state:running;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes turn {
  to {-webkit-transform: rotateY(90deg);opacity:0;}
}

@keyframes turn {
  to { transform: rotateY(90deg);opacity:0; }
}

.outrun {
  -webkit-animation-name: turn2;
          animation-name: turn2;
		  animation-play-state:running;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes turn2 {
	0%{opacity:0;}
  100% {-webkit-transform: rotateY(0deg);opacity:1;}
}

@keyframes turn2 {
	0%{opacity:0;}
  100% { transform: rotateY(0deg);opacity:1; }
}

.rotate360 {
  -webkit-animation-name: rotate;
          animation-name: rotate;
		  
		  animation-play-state:running;
		  animation-iteration-count:infinite;
	     
		  animation-duration:5s!important;
		  animation-timing-function:linear;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes rotate {
  to {-webkit-transform: rotate(180deg);}
}

@keyframes rotate {
  to { transform: rotate(180deg); }
}

	/*加载中*/
	.dropload-load{width:44.00%;height:0.46rem;line-height:0.46rem;text-align:center;font-size:0.24rem;font-family:arial,'microsoft yahei', helvetica, sans-serif;color:#fcee9c;margin:0 auto;display:block;margin-top:0.24rem;}
	.dropload-refresh{width:44.00%;height:0.46rem;line-height:0.46rem;text-align:center;font-size:0.24rem;font-family:arial,'microsoft yahei', helvetica, sans-serif;color:#fcee9c;margin:0 auto;border:1px solid #fcee9c;border-radius:0.04rem;display:block;margin-top:0.24rem;}
	.dropload-noData{width:35.00%;line-height:2.09;text-align:center;font-size:14px;font-family:arial,'microsoft yahei', helvetica, sans-serif;color:#a0a0a0;margin:19px auto 19px auto;border-radius:4px;display:block;}

.btn_backtop{background: linear-gradient(top , rgb(174, 158, 137) 13% , rgb(119, 106, 88) 90%);
background: -o-linear-gradient(top , rgb(174, 158, 137) 13% , rgb(119, 106, 88) 90%);
background: -ms-linear-gradient(top , rgb(174, 158, 137) 13% , rgb(119, 106, 88) 90%);
background: -moz-linear-gradient(top , rgb(174, 158, 137) 13% , rgb(119, 106, 88) 90%);
background: -webkit-linear-gradient(top , rgb(174, 158, 137) 13% , rgb(119, 106, 88) 90%);
}
.D_ios,.D_android,.D_default{display:none;}
